*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(45deg, #d1d8e0, #4b6584);
}

.clock {
    position: relative;
    grid-area: 2/2/3/3;
    align-items: center;
}

.clock-face {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    border: 10px solid #3867d6;
}

.hour-hand {
    position: fixed;
    bottom: 50%;
    left: 50%;
    width: 2%;
    height: 40%;
    background: black;
    z-index: 1;
}

.min-hand {
    position: fixed;
    bottom: 50%;
    left: 50%;
    width: 2%;
    height: 48%;
    background: white;
    z-index: 2;
}

.second-hand {
    position: fixed;
    bottom: 50%;
    left: 50%;
    width: 2%;
    height: 45%;
    background: red;
    z-index: 5;

}

.hand {
    transition: transform 0.5s cubic-bezier(.58, 2.35, .8, .44);
    transform-origin: bottom;
}